# {module}

{description}

## Methods list

{methods_list}

## Installation

```bash
helper modules install {module} --location {link}
```

## Credits

**Author: [{author}](https://github.com/{author})**

**Version: {version}**

**Supported platforms:**

```
{platforms}
```

## Methods

{methods_description}