import env
env.DEBUG = True
env.EMOJI_ENABLED = False


from helpers.{module} import {module}Helper


def test_{function_name}():
    helper_obj = {module}Helper({{}})
    helper_test_function = helper_obj.{function}
    # your test code should be here
